.btn .btn-link .btn-cancel-ccpp {
  color: #ffffff !important;
  background-color: #dee1e6 !important;
}

.btn-width-create-ccpp {
  width: 100px !important;
}

.ccpp_tooltip {
  left: 18.5% !important;
  top: 10% !important;
}



