.o_customer_information_narrow_field {
  width: 20rem!important;
  max-width: 20rem!important;
  * {
      max-width: 100%;
  }
}

.o_parent_job_narrow_field {
  width: 30rem!important;
  max-width: 30rem!important;
  * {
      max-width: 100%;
  }
}