.o_customer_information_narrow_field {
  width: 20rem!important;
  max-width: 20rem!important;
  * {
      max-width: 100%;
  }
}

.o_parent_job_narrow_field {
  width: 30rem!important;
  max-width: 30rem!important;
  * {
      max-width: 100%;
  }
}

.background-theme-ccpp{
  background-color: var(--biz-theme-primary-color) !important;
  border-color: var(--biz-theme-primary-color) !important;
}

.font-theme-ccpp{
  color: var(--biz-theme-primary-text-color) !important;
}