.o_customer_information_narrow_field {
  width: 20rem!important;
  max-width: 20rem!important;
  * {
      max-width: 100%;
  }
}

.o_parent_job_narrow_field {
  width: 30rem!important;
  max-width: 30rem!important;
  * {
      max-width: 100%;
  }
}

.background-theme-ccpp{
  background-color: var(--biz-theme-primary-color) !important;
  border-color: var(--biz-theme-primary-color) !important;
}

.font-theme-ccpp{
  color: var(--biz-theme-primary-text-color) !important;
}

.ccpp_kanban_text{
  color: var(--biz-theme-primary-color) !important;
}

.o_priority_narrow_field {
  width: 16rem!important;
  max-width: 16rem!important;
  * {
      max-width: 100%;
  }
}

.ccpp_dot {
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  padding: 5px;
  text-align: center;
  font-weight:700;
  color: white;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 14px;
}

.no_waiting_approve {
    font-weight: 200;
    color: grey;
    opacity: 0.5;
    font-size: 15px;
}